<nav class="sidebar">
  <div class="logo">
    <h2>Los Corrales</h2>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active-link">
        <i class="icon">📊</i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/stock" routerLinkActive="active-link">
        <i class="icon">📦</i> Stock
      </a>
    </li>
    <li>
      <a routerLink="/perfil" routerLinkActive="active-link">
        <i class="icon">👤</i> Perfil
      </a>
    </li>
  </ul>

  <div class="sidebar-footer">
    <button class="btn-theme">Personalizar Cores</button>
  </div>
</nav>