
<div style="font-family: Arial, sans-serif; padding: 20px;">
  <h2>Catálogo de Produtos - Los Corrales</h2>
  <hr>
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
  <h2>Estoque de Produtos</h2>
  <button (click)="openModal()" style="padding: 10px 20px; background: #28a745; color: white; border: none; border-radius: 5px; cursor: pointer; font-weight: bold;">
    + Novo Produto
  </button>
  </div>
  
  @if (isModalOpen) {
  <div class="modal-overlay">
    <div class="modal-content">
      
      <div style="display: flex; justify-content: flex-end;">
        <button (click)="closeModal()" style="background: none; border: none; font-size: 20px; cursor: pointer;">
          &times;
        </button>
      </div>

      <app-product-form></app-product-form>

    </div>
  </div>
}
  @if (products.length === 0) {
    <p>Nenhum produto cadastrado no momento ou carregando...</p>
  } @else {
    <ul>
      @for (product of products; track product.id) {
        <li style="margin-bottom: 10px;">
          <strong>{{ product.name }}</strong> <br>
          <small>ID: {{ product.id }} | Categoria: {{ product.category }}</small>
        </li>
      }
    </ul>
  }
</div>