/* --- RESET GLOBAL --- */
html, body {
  margin: 0;   
  padding: 0;  
  width: 100%; 
  min-height: 100vh; /* Permite que a página cresça */
  
  /* Esconde apenas a rolagem horizontal (que causava a borda branca) */
  overflow-x: hidden; 
  /* Garante que a rolagem vertical funciona no sistema todo */
  overflow-y: auto; 
}