/* You can add global styles to this file, and also import other style files */
/* --- RESET GLOBAL: Remove as bordas padrão do navegador --- */
html, body {
  margin: 0;   /* Garante que o corpo não tem margem externa */
  padding: 0;  /* Garante que o corpo não tem preenchimento interno */
  width: 100%; /* Ocupa 100% da largura do navegador */
  height: 100%; /* Ocupa 100% da altura do navegador */
  
  /* Opcional: Garante que as scrollbars não aparecem desnecessariamente */
  overflow: hidden; 
}